@charset "utf-8";
.imagebox{
	border:1px solid #CCCCCC;
	vertical-align:middle;
	display:-moz-inline-box;
	display:inline-block;
	/display:inline;
	/zoom:1;
}
.imagebox img{
	border:4px solid #fff;
}
.imagebox .caption{
	padding:0 4px;
	display:block;
	vertical-align:middle;
	display:-moz-inline-box;
	display:inline-block;
	/display:inline;
	/zoom:1;
}
