@charset "utf-8";
/* ********************************************************************-

タイトル : elastic-two-column-left.css／elastic２カラムレイアウト
作者 : mersy

概要 : 文字サイズに応じて横幅が可変
２カラムスタイル。コンテンツ右。メニュー左、ナビゲーション左。

制作日 : 2007/8/4
変更日 : 2007/8/4

- ******************************************************************** */
body{
	text-align:center;
}

div#container{
	width:82em;
	margin:0 auto;
	text-align:left;
}

div#Area01{
	float:right;
	width:60em;
}

div#Area02{
	float:left;
	width:20em;
}

div#Area03{
	clear:left; 
	float:left;
	width:20em;
}

div#footer{
	clear:both;
}