@charset "utf-8";
/* ********************************************************************-

タイトル : 可変1カラムレイアウト
作者 : mersy

概要 : 1カラムレイアウトの基本形。

制作日 : 2007/8/4
変更日 : 2007/8/4


- ******************************************************************** */
body{
	text-align:center;
}

div#container{
	width:80%;
	margin:0 auto;
	text-align:left;
}