@charset "utf-8";
/* ********************************************************************-

タイトル : print.css
作者 : mersy

概要 : 印刷用のcss

制作日 : 2006/12/18
変更日 : 2008/10/3

- ******************************************************************** */
/*======================================================================

最低限必要な設定

====================================================================== */
/*
heading
----------------------------------------------------------------------*/
body {
	font-size: 12pt;
	color: #000000;
	background-color: #FFFFFF;
}
/*
文字サイズをptに変更
モノクロ印刷想定
*/

a:link,
a:visited {
	text-decoration: underline;
	color: #000000;
}
/*
リンク部分にアンダーライン
*/

img {
	border: 0;
}
/*
画像にリンクを貼る際の、画像周りのborderを消しておく。
/*

/*======================================================================

A4向け

====================================================================== */
div#container{
	width:95%;
	margin:0 auto;
	text-align:left;
	border:none;
	background:#fff;
}
* html div#container{/* for IE */
	width:172mm;
}
div#Area01{
	float:none;
	width:100%;
	margin:0;
	display:block;
}

/*======================================================================

印刷時不必要部分を消す

====================================================================== */
div#Area02{
	display:none;
}
